div {
    text-align: center;
    padding-right: 150px;
    padding-left: 150px;
}
@media screen and (max-width: 768px) {
    div {
        text-align: center;
        padding-right: 0px;
        padding-left: 0px;
    }
}