{{ partial "header.html" . }}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" href="icon.jpg">
    <link rel="apple-touch-startup-image" href="icon.jpg">
</head>
<link rel="stylesheet" type="text/css" href="/css/single.css">
<div style>
    <h1>{{ .Title }}</h1>
</div>
<div style>
{{ .Content }}
</div>

{{ partial "footer.html" . }}