<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" href="icon.jpg">
    <link rel="apple-touch-startup-image" href="icon.jpg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="/css/header.css">
  </head>
  <body>
    <header class="main-header">
      <div class="container">
        <nav>
          <ul>
            {{ range.Site.Menus.main }}
            <li>
                <a href="{{ .URL }}" target="_self">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </nav>
      </div>
    </header>
    <div class="slim-line"></div>
  </body>
</html>
